@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #091921;
}
.calculator{
    display: grid;
    position: relative;
}
.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
    display: grid;
    width: 80px;
    height: 60px;
    color: #ffffff;
    background-color: #0c2835;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
}
.calculator span:active{
    background: #74ff3b;
    color: #111111;
}
.calculator span.clear{
    grid-column: span 2;
    width: 160px;
    background: #ff3077;
}
.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}